/* here you can put your own css to customize and override the theme */
.ecommerce .site-logo {
	padding: 10px 0;
	margin-right: 0;
}

.header .header-navigation {
	display: block;
	float: right !important;
	clear: none;
	font-size: 18px;
	margin-top: 22px;
}

.header .header-navigation > ul > li {
	margin-right: 0 !important;
	margin-left: 35px !important;
}

.pi-img-wrapper {
	width: 196px;
	height: 233px;
	overflow: hidden;
	text-align: center;
	margin: auto;
	cursor: pointer;
}

#content div, .pi-img-wrapper div {
	background: none;
}

#content .tee-shirt, .pi-img-wrapper .tee-shirt {
	position: absolute;
	left: 0;
	z-index: 1;
}

#content .tee-copy, .pi-img-wrapper .tee-copy {
	position: absolute;
	z-index: 2;
}

#content .tee-custom, .pi-img-wrapper .tee-custom {
	display: block !important;
	position: absolute;
	left: 0;
	z-index: 3;
	color: #fff;
	width: auto;
}

#content.copy-1 .tee-custom, .pi-img-wrapper.copy-1 .tee-custom {
	height: auto;
}

#content .tee-silk, .pi-img-wrapper .tee-silk {
	display: block !important;
	z-index: 0;
	height: 100%
}

/* Main content */

#big-image, #email-prompt, #alert {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 4;
	margin-top: 50%;
	display: none;
}

#content {
	background-color: #fff;
	width: 477px;
	height: 560px;
	position: relative;
	overflow: hidden;
	text-align: center;
	margin: auto;
	margin-top: -50%;
	z-index: 6;
	top: 30px;
}

#email-content {
	background-color: #fff;
	width: 477px;
	height: 170px;
	position: relative;
	overflow: hidden;
	text-align: center;
	margin: auto;
	margin-top: -50%;
	z-index: 6;
	top: 30px;
}

#alert-content {
	background-color: #fff;
	width: 477px;
	position: relative;
	text-align: center;
	margin: auto;
	margin-top: -50%;
	z-index: 6;
	top: 30px;
}

#big-image-cover, #email-cover, #alert-cover {
	background-color: #000;
	opacity: 0.8;
	filter: alpha(opacity=80);
	width: 100%;
	height: 100%;
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.product-item:hover>.pi-img-wrapper>.campaign-link {
	display: none;
}

#big-image .campaign-link {
	position: absolute;
	bottom: 20px;
	text-align: center;
	width: 477px;
	z-index: 8;
	display: block;
}

.product-item h4 {
	height: 40px;
}

.product-item .add2cart.btn-primary {
	color: #fff;
	border: none;
}

.pi-img-wrapper .tee-loading {
	color: #fff;
	font-size: 14px;
	width: 100%;
	margin-top: 73px;
	z-index: 8;
	display: block;
}

.tee-copy-background {
	background-color: #222;
	padding: 20px 0;
	text-align: center;
}

.tee-copy-background img {
	width: 90%;
}

.add-image {
	width: auto;
}

.ecommerce h4 {
	text-transform: none
}

.product-description {
	overflow: hidden;
	height: 36px;
}